<div class="list-group">
    {% for company in companyList %}
        <a href="javascript:void(0)" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center company-item">
            <span class="title">{{ company.title }}</span>
            <span class="badge badge-primary badge-pill id">{{ company.id }}</span>
        </a>
    {% endfor %}
</div>